body { font-size: 48pt; }

.background-shapes {
  
  &.top { width: 71.2vw; }
  
  &.center { 
    width: 101%;
  }
  
  &.bottom {
    .pattern-stripe { left: 38.5%; }
  }
}

.branding { top: 30%; }
.action { top: 60%; }